@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS';
}

#back {
    color: #0066ff;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
}

#title img {
    position: absolute;
    width: 489px;
    left: calc(50% - 489px/2 - 94.5px);
    top: calc(50% - 93px/2 - 274.5px);
}

#original {
    position: absolute;
    left: calc(50% - 762px/2 - 33px);
    top: calc(50% - 58px/2 - 145px);
    margin: 50px;
    font-size: 30px;
}

#original img {
    width: 839px;
    height: 64px;
    margin-top: 20px;
}

#need {
    position: absolute;
    width: 762px;
    height: 58px;
    left: calc(50% - 762px/2 - 33px);
    top: calc(50% - 58px/2 + 73px);
    margin: 50px;
    font-size: 30px;
    line-height: 56px;
    color: #000000;

}

#ex {
    width: 500px;
    margin-left: 300px;
}

#ytimg {
    width: 839px;
    height: 64px;
    margin-top: 20px;
}

#cass img {
    width: 44px;
    height: 44px;
    display: inline;
}

#cass h1 {
    display: inline;
    font-size: 30px;
}