@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 300px;
}

.languege {
    color: #c5c5c5;
    font-size: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 2.5%;
    right: 9%;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.languege:hover {
    color: #000;
}

#gitdiv {
    position: absolute;
    right: 5%;
    top: 1.5%;
}

#srAndVideo {
    margin: 100px;
    padding: 100px;
}

#search {
    position: absolute;
    top: 15%;
    left: calc(50% - 497px/2 - 26.5px);
}

#search input {
    width: 497px;
    height: 57px;
    background: #FFFFFF;
    border: 6px solid #0066FF;
    box-sizing: border-box;
    border-radius: 10px;
    padding-inline-start: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    outline: none;
}

#search p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.36);
    margin-top: 10px;
    margin-left: 20px;
}

#search img {
    width: 17px;
    height: 17px;
    position: absolute; 
}

#srbtn {
    position: absolute;
    width: 60px;
    height: 57px;
    top: 0px;
    left: 480px;
    background: #0066FF;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Roboto';
    cursor: pointer;
}

#video {
    width: 560px;
    height: 315px;
    position: absolute;
    left: calc(50% - 560px/2);
    top: 25%;
    background-color: #c5c5c5;
}

#time{
    position: absolute;
    width: 500px;
    height: 41px;
    left: calc(50% - 400px/2 - 162.5px);
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 42px;
    color: #000000;
    margin-left: 20px; 
    bottom: 230px;
}

#hour {
    width: 115px;
    height: 41px;
    background: #FFFFFF;
    border: 4px solid #0066FF;
    box-sizing: border-box;
    border-radius: 17px;
    padding-inline-start: 10px;
    font-size: 20px;
    margin-top: 20px;
    display: inline;
    outline: none;
}

#Min {
    background: #fff;
    border: 4px solid #0066FF;
    box-sizing: border-box;
    border-radius: 17px;
    width: 115px;
    height: 41px;
    font-size: 20px;
    padding-inline-start: 10px;
    margin-left: 20px;
    display: inline;
    outline: none;
}

#btnTime {
    position: absolute;
    top: 62px;
    margin-left: 40px;
    display: inline;
    width: 115px;
    height: 41px;
    border: 5px solid #0066FF;
    background-color: white;
    border-radius: 17px;
    font-size: 25px;
    color: #0066FF;
    cursor: pointer;
}

#btnTime:hover {
    background-color: #0066FF;
    transition: 0.5s;
    color: white;
}

#notice {
    margin-top: 20px;
}

#notice img {
    width: 22px;
    height: 22px;
}

#notice p {
    display: inline;
}

@keyframes Breathe {
    0% {
        background-color: #0066FF;
    }
    25%{
        background-color: #0034ff;
    }
    50%{
        background-color: #00c6ff;
    }
    75% {
        background-color: #00ffda;
    }
    100% {
        background-color: #0066FF;
    }
}