@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    padding: 10px 25px;
}

.title>h1 {
    font-weight: lighter;
    font-size: 2.5em;
    color: #2c2c2c;
}

.title>h1>span {
    color: #0066FF;
}

.content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100vw;
    height: calc(100vh - 118px);
}

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.search input {
    width: 500px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #0066FF;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline-start: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 28px;
    outline: none;
    margin-left: 10px;
}

.search>button {
    border-radius: 0 3px 3px 0;
    border: none;
    outline: none;
    width: 50px;
    height: 45px;
    background: #0066FF;
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    cursor: pointer;
    position: relative;
    right: 10px;
}

.video {
    width: 560px;
    height: 315px;
    background-color: #c5c5c5;
    margin-top: 20px;
}

iframe {
    width: 560px;
    height: 315px;
    background-color: #c5c5c5;
    border: none;
    outline: none;
}

.time {
    width: 350px;
    height: 41px;
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.time > h1 {
    font-size: 1.3em;
}

.time>input {
    width: 100px;
    height: 41px;
    border: 3px solid #0066FF;
    border-radius: 10px;
    padding-inline-start: 10px;
    font-size: 1em;
    margin-top: 20px;
    display: inline;
    outline: none;
}

#btnTime {
    display: inline;
    width: 100px;
    height: 41px;
    border: 3px solid #0066FF;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 25px;
    color: #0066FF;
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: 0.3s ease-in-out;
}

#btnTime:hover {
    background-color: #0066FF;
    color: white;
}

.notice {
    margin-top: 20px;
}

.notice img {
    width: 22px;
    height: 22px;
    position: relative;
    top: 4.5px;
}

.notice p {
    display: inline;
}

@media screen and (max-width: 560px) {
    .video,  iframe {
        width: 300px;
        height: 200px;
    }

    .search {
        width: 300px;
    }

    .search input {
        width: 300px;
    }

    .search>button {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 350px) {
    .time {
        width: 290px;
        height: 41px;
        font-size: 20px;
        line-height: 42px;
        color: #000000;
        margin-top: 20px;
        font-family: 'Trebuchet MS', sans-serif;
    }
    
    .time > h1 {
        font-size: 1.3em;
    }
    
    .time>input {
        width: 90px;
        height: 41px;
        border: 3px solid #0066FF;
        border-radius: 10px;
        padding-inline-start: 10px;
        font-size: 1em;
        margin-top: 20px;
        display: inline;
        outline: none;
    }

    #btnTime {
        width: 90px;
    }
}

@keyframes Breathe {
    0% {
        background-color: #0066FF;
        color: #FFFFFF;
    }50% {
        background-color: #FFFFFF;
        color: #0066FF;
        border: 2px solid #0066FF;
    }100% {
        background-color: #0066FF;
        color: #FFFFFF;
    }
}